<% unless comment.archived? %>
  <p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.text %>
</p>
<%= link_to "Destroy", [comment.post, comment], data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure?"
} %>
<% end %>